<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Creative - Bootstrap 3 Responsive Admin Template">
  <meta name="author" content="GeeksLabs">
  <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
  <link rel="shortcut icon" href="img/favicon.png">
  <title>Smart Savdo</title>
  <!-- Bootstrap CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <!-- bootstrap theme -->
  <link href="css/bootstrap-theme.css" rel="stylesheet">
  <!--external css-->
  <!-- font icon -->
  <link href="css/elegant-icons-style.css" rel="stylesheet" />
  <link href="css/font-awesome.min.css" rel="stylesheet" />
  <!-- Custom styles -->
  <link href="css/style.css" rel="stylesheet">
  <link href="css/style-responsive.css" rel="stylesheet" />
  
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
  <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
      <script src="js/lte-ie7.js"></script>
    <![endif]-->

  <!-- =======================================================
      Theme Name: NiceAdmin
      Theme URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
      Author: BootstrapMade
      Author URL: https://bootstrapmade.com
    ======================================================= -->
</head>

<body>
  <!-- container section start -->
  <%- include('nav')%>

    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <div class="row" id="sa">
          <div class="col-lg-12">
          <center>  <h3 style="color: black;" class="" id="nameofdebetor"><i class="fa fa-table"></i> </h3></center>
    
            
          </div>
        </div>
        <center> <h3 style="color: black;" class="" id="alldebt"> </h3> </center>
        <div class="row">
          <div class="col-lg-12">
            <section class="panel">
            
              <div class="form-check form-switch">
              </div>
              <center><h3 style="color: black;">История Заимствований</h3></center>
              <table class="table table-advance">
              
                <tbody id="mahsulot">
                </tbody>
              </table>
              <center><h3 style="color: black;">История Погашенных Долгов</h3></center>
              <table class="table table-advance">
              
                <tbody id="mahsulot2">
                </tbody>
              </table>
            </section>
          </div>
        </div>
        <!-- page end-->
      </section>
    </section>
    <style>
    </style>
    <!--main content end-->
    <div class="text-right">
      <div class="credits">
        <!--
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version form: https://bootstrapmade.com/buy/?theme=NiceAdmin
          -->
     
      </div>
    </div>
  </section>
  <style>
      @media print {
aside,#sa,header,#stat1,#stat,#searcher,#flexSwitchCheckChecked,#kamqolgan{
  display: none;
}
}
  </style>
  <center><h2 id="xarid"></h2></center>
  <!-- container section end -->
  <!-- javascripts -->
  <script>
    document.title=document.getElementsByClassName("page-header")[0].innerText;
    
   </script>
  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <!-- nicescroll -->
  <script src="js/jquery.scrollTo.min.js"></script>
  <script src="js/jquery.nicescroll.js" type="text/javascript"></script>
  <!--custome script for all page-->
  <script src="js/scripts.js" ></script>
  <script>
var data=<%- JSON.stringify(data) %>;
document.getElementById('nameofdebetor').innerHTML+=data.name
// console.log(data)
x=-1;
s="<tr><th>Сумма Долга</th><th>Сцена</th><th>Информация</th><tr>"
    ss="<tr><th>Сумма Долга</th><th> Дата Оплаты</th><tr>"
    var jami=0;
    for(v of data.debt){
    jami+=v;
  } 
  for (v of data.paydebt){
    jami-=v;
  }
 
    for (let i=0;i<data.debt.length;i++){
x++;
  s+=`<tr  style="background-color:#ff2d55;color:white"><td>${data.debt[i]}</td><td>${data.gettime[i]}</td><td>${data.why[i]}</td></tr>`
}
s+=`<hr>`
for (let i=0;i<data.paydebt.length;i++){
x++;
  ss+=`<tr  style="background-color:#ff2d55;color:white"><td>${data.paydebt[i]}</td><td>${data.paytime[i]}</td></tr>`
}
document.getElementById('alldebt').innerHTML+=`Общая Задолженность:${jami}`
document.getElementById('mahsulot').innerHTML=s;
document.getElementById('mahsulot2').innerHTML=ss;

</script>
</body>
</html>