<section id="container" class="">
  <header class="header dark-bg">
    <div class="toggle-nav">
      <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu" onclick="togglenavigation()"></i></div>
    </div>
    <a href="/sold/itemsm" class="logo" id="nameofmagazin"></a>
      <center><h4 id="sss"> </h4>   </center>
    <div class="nav search-row" id="top_menu">       
      <!--  search form start -->
      <ul class="nav top-menu">
      </ul>
      <!--  search form end -->
    </div>
        <!-- alert notification end-->
        <!-- user login dropdown start-->
      
        <!-- user login dropdown end -->
      </ul>
      <!-- notificatoin dropdown end-->
    </div>
  </header>
  <!--header end-->

  <!--sidebar start-->
  
  <aside>
    <div id="sidebar" class="nav-collapse ">
      <!-- sidebar menu start-->
      <ul class="sidebar-menu" id="sidebar565">
        <!-- <li class="" id="a">
          <a class="" href="index.html">
                        <i class="icon_house_alt"></i>
                        <span>Основные</span>
                    </a>
        </li> -->

        <li class="sub-menu" id="c">
          <a  href="/sold/items" class="">
                        <i class="icon_desktop"></i>
                        <span>Проданный Товар</span>
                    </a>
        </li>
        <li class="sub-menu"  id="d">
          <a class="" href="/get/sell">
                        <i class="icon_piechart"></i>
                        <span>Продажа</span>
                    </a>
        </li>
        <li class="sub-menu" id="e">
          <a  href="/add/item" class="">
                        <i class="icon_table"></i>
                        <span>Обн.. Продукта</span>             
                    </a>
         </li>
         <li class="sub-menu" id="al">
          <a  href="/get/items?getpage=1" class="">
                        <i class="fa fa-shopping-bag"></i>
                        <span>Все Продукты</span>
                   
                    </a>
         </li>
         <li class="sub-menu" id="f">
          <a  href="/add/organizations" class="">
                        <i class="icon_calendar"></i>
                        <span>Организации</span>
                   
                    </a>
         </li>

         <!-- <li class="sub-menu" id="g">
          <a  href="/all/magtranzactions?getpage=1" class="">
                        <i class="fa fa-users"></i>
                        <span id="xaridor">Магазины</span>
                    </a>
         </li> -->
         
         <li class="sub-menu" id="h">
          <a  href="/exit" class="">
                        <i class="fa fa-sign-out"></i>
                        <span>Выход</span>
                    </a>
         </li>
      </ul>
    </div>
  </aside>
  </section>
  <script src="/js/jquery.js"></script>
  <script>
    $.ajax({
          url: '/get/rol',
          type: "GET",
          cache: false,
          contentType: 'application/json',
          dataType: 'json',
          success: data => {
            console.log(data)
            document.getElementById('nameofmagazin').innerText=data.rol
          }
        })

    function man(e){
      if (navigator.onLine){
      }
      else{
        e.preventDefault();
  alert('Проверьте подключение к интернету и повторите попытку')
      }
       }
 function togglenavigation(){

   if (document.getElementById('sidebar565').style.display=="none") 
   document.getElementById('sidebar565').style.display="block";
   else{
    document.getElementById('sidebar565').style.display="none";
   }
 }
 if (document.URL.indexOf('curiers')>-1){
   document.getElementById('y').className="active";
 }
 if (document.URL.indexOf('allitems')>-1){
   document.getElementById('al').className="active";
 }
       if (document.URL.indexOf('index.html')>0){
         document.getElementById('a').className="active";
     }
     if (document.URL.indexOf('form_component.html')>0){
         document.getElementById('b').className="active";
     }
     if (document.URL.indexOf('general.html')>0){
         document.getElementById('c').className="active";
     }
     if (document.URL.indexOf('big')>0){
         document.getElementById('d').className="active";
     }
     if (document.URL.indexOf('basic_table.html')>0){
         document.getElementById('e').className="active";
     }
     if (document.URL.indexOf('yangilash')>0){
         document.getElementById('e').className="active";
     }
     if (document.URL.indexOf('getinfo')>0){
         document.getElementById('e').className="active";
     }
     if (document.URL.indexOf('customer')>0){
         document.getElementById('g').className="active";
     }
     if (document.URL.indexOf('salesman')>0){
         document.getElementById('ccc').className="active";
     }
     if (document.URL.indexOf('mydebt')>0 || document.URL.indexOf('costbook')>0  ||  document.URL.indexOf('valuta')>0 ||  document.URL.indexOf('newpass')>0 ||  document.URL.indexOf('restart')>0){
         document.getElementById('hh').className="active";
     }
     
     if (document.URL.indexOf('tashkilot')>0){
         document.getElementById('f').className="active";
     }
     if (document.URL.indexOf('odebt')>0){
         document.getElementById('ss').className="active";
     }
     if (document.URL.indexOf('pasport')>0){
         document.getElementById('h').className="active";
     }
  </script>