<section id="container" class="">
    <header class="header dark-bg">
      <div class="toggle-nav">
        <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu" onclick="togglenavigation()"></i></div>
      </div>
      <a href="index.html" class="logo">Smart <span class="lite">Admin</span></a>
        <center><h4 id="sss"><%= rol %> </h4>  </center>
      <div class="nav search-row" id="top_menu">
        <!--  search form start -->
        <ul class="nav top-menu">
      
        </ul>
       
        <!--  search form end -->
      </div>
          <!-- alert notification end-->
          <!-- user login dropdown start-->
        
          <!-- user login dropdown end -->
        </ul>
        <!-- notificatoin dropdown end-->
      </div>
    </header>
    <!--header end-->

    <!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="sidebar565">
          <li class="" id="a">
            <a class="" href="index.html">
                          <i class="icon_house_alt"></i>
                          <span>Asosiy</span>
                      </a>
          </li>
          <!-- <li class=""  id="pl">
            <a class="" onclick="man(event)" href="/allupdatesserver">
              <i class="fa fa-globe"></i>
                          <span id="server">Serverni Yangilash</span>
                      </a>
          </li>
           -->
          <li class="sub-menu" id="b">
            <a href="form_component.html" class="">
                          <i class="icon_document_alt"></i>
                          <span>Mahsulot qo'shish</span>
                         
                      </a>
           
          </li>
          <li class="sub-menu" id="c">
            <a  href="general.html" class="">
                          <i class="icon_desktop"></i>
                          <span>Sotilgan Mahsulot</span>
                      </a>
          </li>
          <li  id="ss">
            <a class="" href="/odebt">
                          <i class="icon_book"></i>
                          <span>Qarz Daftar</span>
                      </a>
          </li>
          <li class="sub-menu" id="hh">
            <a  href="/costbook" class="">
                          <i class="fa fa-book"></i>
                          <span>Admin-Nazorati</span>
                     
                      </a>
           </li>
          <li class="sub-menu"  id="d">
            <a class="" href="/big">
                          <i class="icon_piechart"></i>
                          <span>Sotish</span>

                      </a>

          </li>

          <li class="sub-menu" id="e">
            <a  href="basic_table.html" class="">
                          <i class="icon_table"></i>
                          <span>Mahsulot Yangilashi</span>
                     
                      </a>
           </li>
           <li class="sub-menu" id="al">
            <a  href="allitems" class="">
                          <i class="fa fa-shopping-bag"></i>
                          <span>Barcha Mahsulotlar</span>
                     
                      </a>
           </li>
           <li class="sub-menu" id="f">
            <a  href="tashkilotinfo" class="">
                          <i class="icon_calendar"></i>
                          <span>Tashkilotlar</span>
                     
                      </a>
           </li>

           <li class="sub-menu" id="g">
            <a  href="/customer" class="">
                          <i class="fa fa-users"></i>
                          <span>Magazinlar</span>
                      </a>
           </li>
           <li class="sub-menu" id="y">
            <a  href="/curiers" class="">
                          <i class="fa fa-user"></i>
                          <span>Kuriyerlar</span>
                     
                      </a>
           </li>
           <li class="sub-menu" id="h">
            <a  href="/pasport" class="">
                          <i class="icon_document_alt"></i>
                          <span>Pasport</span>
                     
                      </a>
           </li>
           <li class="sub-menu" id="ccc">
            <a  href="/salesman" class="">
                          <i class="fa fa-plus"></i>
                          <span>Sotuvchi Yaratish</span>
                     
                      </a>
           </li>
    
           <li class="sub-menu" id="h">
            <a  href="/exit" class="">
                          <i class="fa fa-sign-out"></i>
                          <span>Chiqish</span>
                     
                      </a>
           </li>
         
        </ul>
      </div>
    </aside>
    </section>
    <script>
      document.title=document.getElementsByClassName("page-header")[0].innerText;
      
     </script>
    <script src="js/jquery.js"></script>
    <script src="js/jquery-ui-1.10.4.min.js"></script>
    <script src="js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui-1.9.2.custom.min.js"></script>
    <!-- bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <!-- nice scroll -->
    <script src="js/jquery.scrollTo.min.js"></script>
    <script src="js/jquery.nicescroll.js" type="text/javascript"></script>
    <!-- charts scripts -->
    <script src="assets/jquery-knob/js/jquery.knob.js"></script>
    <script src="js/jquery.sparkline.js" type="text/javascript"></script>
    <script src="assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
    <script src="js/owl.carousel.js"></script>
    <!-- jQuery full calendar -->
    <<script src="js/fullcalendar.min.js"></script>
      <!-- Full Google Calendar - Calendar -->
      <script src="assets/fullcalendar/fullcalendar/fullcalendar.js"></script>
      <!--script for this page only-->
      <script src="js/calendar-custom.js"></script>
      <script src="js/jquery.rateit.min.js"></script>
      <!-- custom select -->
      <script src="js/jquery.customSelect.min.js"></script>
      <script src="assets/chart-master/Chart.js"></script>
  
      <!--custome script for all page-->
      <script src="js/scripts.js"></script>
      <!-- custom script for this page-->
      <script src="js/sparkline-chart.js"></script>
      <script src="js/easy-pie-chart.js"></script>
      <script src="js/jquery-jvectormap-1.2.2.min.js"></script>
      <script src="js/jquery-jvectormap-world-mill-en.js"></script>
      <script src="js/xcharts.min.js"></script>
      <script src="js/jquery.autosize.min.js"></script>
      <script src="js/jquery.placeholder.min.js"></script>
      <script src="js/gdp-data.js"></script>
      <script src="js/morris.min.js"></script>
      <script src="js/sparklines.js"></script>
      <script src="js/charts.js"></script>
      <script src="js/jquery.slimscroll.min.js"></script>
    <script>
      function man(e){
        if (navigator.onLine){
        }
        else{
          e.preventDefault();
    alert('Internet aloqasini tekshirib qayta urinib ko\'ring')
        }
         }
   function togglenavigation(){

     if (document.getElementById('sidebar565').style.display=="none") 
     document.getElementById('sidebar565').style.display="block";
     else{
      document.getElementById('sidebar565').style.display="none";
     }
   }
   if (document.URL.indexOf('curiers')>-1){
     document.getElementById('y').className="active";
   }
   if (document.URL.indexOf('allitems')>-1){
     document.getElementById('al').className="active";
   }
         if (document.URL.indexOf('index.html')>0){
           document.getElementById('a').className="active";
       }
       if (document.URL.indexOf('form_component.html')>0){
           document.getElementById('b').className="active";
       }
       if (document.URL.indexOf('general.html')>0){
           document.getElementById('c').className="active";
       }
       if (document.URL.indexOf('big')>0){
           document.getElementById('d').className="active";
       }
       if (document.URL.indexOf('basic_table.html')>0){
           document.getElementById('e').className="active";
       }
       if (document.URL.indexOf('yangilash')>0){
           document.getElementById('e').className="active";
       }
       if (document.URL.indexOf('getinfo')>0){
           document.getElementById('e').className="active";
       }
       if (document.URL.indexOf('customer')>0){
           document.getElementById('g').className="active";
       }
       if (document.URL.indexOf('salesman')>0){
           document.getElementById('ccc').className="active";
       }
       if (document.URL.indexOf('mydebt')>0 || document.URL.indexOf('costbook')>0  ||  document.URL.indexOf('valuta')>0 ||  document.URL.indexOf('newpass')>0 ||  document.URL.indexOf('restart')>0){
           document.getElementById('hh').className="active";
       }
       
       if (document.URL.indexOf('tashkilot')>0){
           document.getElementById('f').className="active";
       }
       if (document.URL.indexOf('odebt')>0){
           document.getElementById('ss').className="active";
       }
       if (document.URL.indexOf('pasport')>0){
           document.getElementById('h').className="active";
       }
       $.ajax({
      url: `/getserverinfo`,
      type: 'GET',
       cache: false,
        dataType: 'json',
      contentType: 'application/json', 
      success: function (data) { 
if (data.soni>50 && data.soni<90){
  document.getElementById("pl").style.backgroundColor="orange"
}
if (data.soni>=90){
  document.getElementById("pl").style.backgroundColor="brown"
}
document.getElementById("server").innerHTML=`Server(${data.soni})`
      }
    })
       $.ajax({
      url: `/valutainfo`,
      type: 'GET',
       cache: false,
        dataType: 'json',
      contentType: 'application/json', 
      success: function (data) { 
document.getElementById('sss').innerHTML+=`Tizimga Xush Kelibsiz  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Kurs:${data.kurs}so'm`
      }
    })

 
    </script>